@import "tailwindcss";


@theme {
  --color-menuC: #767676;
  --color-menuHc: #262626;
  --color-searchC: #C4C4C4;
  --color-searchBg: #F5F5F3;

  /* font part start  */

  --font-dm : "DM Sans", "sans-serif";
}